.header{
    grid-area: header;
    background-color: rgba(34, 34, 34, 0.89);
}
.header img{
    width: 50px;
    padding: 5px 0 0 10px;
}
.loginBlock{
    float: right;
    font-size: 25px;
    margin: 20px 20px 0 0;
}
.loginBlock a{
    color: #ffffff;
}